<html>
  <head>
    <title>
      pubg
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    
  </head>


<body>


<!--NAVBAR-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/secret">OPPURTUNITY GEEKS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/secret">Home.. <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/adminalmuni">ALMUNI <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/adminevent">EVENT <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="/adminscholar">SCHOLARSHIP <span class="sr-only">(current)</span></a>
          </li>

        



          

      </ul>
    </div>
  </nav>

<!--NAVBAR-->

<br>
<br>
<br>
<br>


<% scholars.forEach(function(scholar){ %>
    <div class="scholar wow fadeInDown">
  <form method="POST" action="/scholardlt">
      <h1 class="title1 "><%=scholar.scholarname%></h1>
      <h4> CRITERIA REQUIRED : <%= scholar.criteria %></h4> 
      <p><%=scholar.scholardescribe%></p>
      FOR MORE INFO VISIT OR CONTACT: <a href="<%=scholar.scholarlink%> "><%=scholar.scholarlink%></a>
    <p class="left">LAST DATE TO APPLY :- <%=scholar.scholardate%></p>
    <div style=" display: none;"><input name="mangta" value="<%=scholar.id%>" ></div>

    <button type="submit" class="btn btn-danger" >Delete   </button>
</form> 
  
  
  
    </div>
  
    <% }) %>
  


















<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="js/wow.js"></script>
<script>new WOW().init();</script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>







</html>
<style>
.ander{
    text-align: center;
    line-height: 2.0em;
    
}
.title1{

    
text-shadow:black 2px 2px 4px;
}
.left{
float:right;
}

.scholar{
width:90%;
border-left: black 8px solid;
margin:0 auto;
margin-bottom: 20px;
padding: 5px;
box-shadow: 10px 10px 5px #aaaaaa;

}

</style>